<?xml version="1.0" encoding="UTF-8"?>  
<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find whiskeye_gazebo)/worlds/CBS19_generate_weights_square.world"/>
		<arg name="verbose" value="true" />
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="recording" value="false"/>
		<arg name="debug" value="false"/>
	</include>
</launch>
