
<launch>
	<node name="ViTaSLAMSensorCells" pkg="vitaslam" type="vitaslam_vita" args="$(find vitaslam)/config/config_whiskeye.txt.in" cwd="node" required="true" output="screen">
    </node>

	<node name="ViTaSLAMPoseCells" pkg="vitaslam" type="vitaslam_pc" args="$(find vitaslam)/config/config_whiskeye.txt.in" cwd="node" required="true" output="screen">
    </node>

	<node name="ViTaSLAMExperienceMap" pkg="vitaslam" type="vitaslam_em" args="$(find vitaslam)/config/config_whiskeye.txt.in" cwd="node" required="true" output="screen">
    </node>
</launch>
