<?xml version="1.0"?>
<model>
	<name>whiskeye_robot</name>
	<version>1.0</version>
	<thumbnail>thumbnail.png</thumbnail>
	<sdf version="1.5">whiskeye_robot.sdf</sdf>
	<author>
		<name>MJP</name>
		<name>BF</name>
		<name>Ben Mitch</name>
	</author>
	<description>
	The Whiskeye robot developed by Bristol Robotics Laboratory.
	</description>
</model>

